<!--advance search form-->
<div class='advance-search'>
    <div class='container'>
        <div class='wrapper-search'>
            <div class='container-tags'>
                <span class='tag'>
                    <span class='tag-inner'>Find Recipes
                        <i class='fa fa-angle-down'></i></span>
                </span>

            </div>
            <div class='outer-advance-search'>

                <form action="/recipes?page=1&" id='advance-search'>
                    <fieldset>
                        <div class='inner-advance-search'>

                            <div class='form-field'>
                                <label for='keyword'>Food</label>
                                {{!-- <select
                                    name='ingredient'
                                    id='ingredient'
                                    class='advance-selectable'
                                >
                                    <option value='ing1' selected='selected'>Any
                                        Ingredient</option>
                                    <option value='ing2'>Butter</option>
                                    <option value='ing3'>Cheese</option>
                                    <option value='ing4'>Cream</option>
                                    <option value='ing5'>Yeast</option>
                                </select> --}}
                                <input name='keyword'></input>
                            </div>

                            <div class='form-field'>
                                <label for='ingredients'>Ingredients</label>
                                {{!-- <select
                                    name='course'
                                    id='course'
                                    class='advance-selectable'
                                >
                                    <option value='ing1' selected='selected'>Any
                                        Course</option>
                                    <option value='ing2'>Butter</option>
                                    <option value='ing3'>Cheese</option>
                                    <option value='ing4'>Cream</option>
                                    <option value='ing5'>Yeast</option>
                                </select> --}}
                                <input name="ingredients"></input>
                            </div>

                            <div class='form-field'>
                                <label for='mealType'>Meal Type</label>
                                <select
                                    name='mealType'
                                    id='mealType'
                                    class='advance-selectable'
                                >
                                    <option value='0' selected='selected'>Any
                                        meal type</option>
                                    <option value='Breakfast'>Breakfast</option>
                                    <option value='Starter'>Starter</option>
                                    <option value='Lunch'>Lunch</option>
                                    <option value='Dinner'>Dinner</option>
                                    <option value='Dessert'>Dessert</option>
                                </select>
                            </div>

                            <div class='form-field'>
                                <label for='rating'>Rating</label>
                                <select
                                    name='rating'
                                    id='rating'
                                    class='advance-selectable'
                                >
                                    <option value='0' selected='selected'>Any
                                        Rating</option>
                                    <option value='-1'>High to low</option>
                                    <option value='1'>Low to high</option>
                                    
                                </select>
                            </div>

                            {{!-- <div class='form-field'>
                                <label for='calories'>calories</label>
                                <select
                                    name='calories'
                                    id='calories'
                                    class='advance-selectable'
                                >
                                    <option value='ing1' selected='selected'>Any
                                        Calories</option>
                                    <option value='ing2'>Butter</option>
                                    <option value='ing3'>Cheese</option>
                                    <option value='ing4'>Cream</option>
                                    <option value='ing5'>Yeast</option>
                                </select>
                            </div> --}}

                            <button type='submit'><i
                                    class='fa fa-search'
                                ></i></button>

                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</div>
<!--advance search form ends-->