<!--banner-->
<div class='banner banner-blog'>
    <div class='container'>
        <div class='main-heading'>
            {{! pass by parameter }}
            <h1>{{titleBanner}}</h1>
        </div>
    </div>
</div>
<!--banner ends-->