<!--banner-->
<div class='banner banner-blog'>
    <div class='container'>
        <div class='main-heading'>
            <h1>Contact us</h1>
        </div>

    </div>
</div>
<div class='advance-search'>
    <!--advance search form-->

    <div class='container'>
        <div class='wrapper-search'>
            <div class='container-tags'>
                <span class='tag'>
                    <span class='tag-inner'>Find Recipes
                        <i class='fa fa-angle-down'></i></span>
                </span>

            </div>
            <div class='outer-advance-search'>

                <form action='#' id='advance-search'>
                    <fieldset>
                        <div class='inner-advance-search'>

                            <div class='form-field'>
                                <label for='ingredient'>ingredient</label>
                                <select name='ingredient' id='ingredient' class='advance-selectable'>
                                    <option value='ing1' selected='selected'>Any
                                        Ingredient</option>
                                    <option value='ing2'>Butter</option>
                                    <option value='ing3'>Cheese</option>
                                    <option value='ing4'>Cream</option>
                                    <option value='ing5'>Yeast</option>
                                </select>
                            </div>

                            <div class='form-field'>
                                <label for='course'>course</label>
                                <select name='course' id='course' class='advance-selectable'>
                                    <option value='ing1' selected='selected'>Any
                                        Course</option>
                                    <option value='ing2'>Butter</option>
                                    <option value='ing3'>Cheese</option>
                                    <option value='ing4'>Cream</option>
                                    <option value='ing5'>Yeast</option>
                                </select>
                            </div>

                            <div class='form-field'>
                                <label for='cuisine'>cuisine</label>
                                <select name='cuisine' id='cuisine' class='advance-selectable'>
                                    <option value='ing1' selected='selected'>Any
                                        Cuisine</option>
                                    <option value='ing2'>Butter</option>
                                    <option value='ing3'>Cheese</option>
                                    <option value='ing4'>Cream</option>
                                    <option value='ing5'>Yeast</option>
                                </select>
                            </div>

                            <div class='form-field'>
                                <label for='time'>Cooking Time</label>
                                <select name='time' id='time' class='advance-selectable'>
                                    <option value='ing1' selected='selected'>Any
                                        Cooking Time</option>
                                    <option value='ing2'>Butter</option>
                                    <option value='ing3'>Cheese</option>
                                    <option value='ing4'>Cream</option>
                                    <option value='ing5'>Yeast</option>
                                </select>
                            </div>

                            <div class='form-field'>
                                <label for='calories'>calories</label>
                                <select name='calories' id='calories' class='advance-selectable'>
                                    <option value='ing1' selected='selected'>Any
                                        Calories</option>
                                    <option value='ing2'>Butter</option>
                                    <option value='ing3'>Cheese</option>
                                    <option value='ing4'>Cream</option>
                                    <option value='ing5'>Yeast</option>
                                </select>
                            </div>

                            <button type='submit'><i class='fa fa-search'></i></button>

                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>

    <!--advance search form ends-->
</div>

<!--banner ends-->

<section class="wrapper-main-contents all-chefs">
    <div class="container">


        <div class="line-heading">
            <h2>Chef Team</h2>
        </div>

        <div class="wrapper-chef-team">
            <ul class="chef-team">
                <li>
                    <div class="single-chef">
                        <a href="#"><img src="/images/temp-images/tvan.jpg" alt="team" /></a>
                        <div class="chef-detail">
                            <div class="chef-detail-inner">
                                <h4>Le Nguyen Tu Van</h4>
                                <span class="type">Head chef</span>
                                <p>
                                    The most handsome chef in the world.
                                </p>
                                <ul class="social-icons-chef">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="single-chef">
                        <a href="#"><img src="/images/temp-images/dvinh.jpg" alt="team" /></a>
                        <div class="chef-detail">
                            <div class="chef-detail-inner">
                                <h4>Duong Tien Vinh</h4>
                                <span class="type">Executive chef</span>
                                <p>
                                    The second most handsome chef in the world.
                                </p>
                                <ul class="social-icons-chef">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="single-chef">
                        <a href="#"><img src="/images/temp-images/hsang.jpg" alt="team" /></a>
                        <div class="chef-detail">
                            <div class="chef-detail-inner">
                                <h4>Nguyen Le Huu Sang</h4>
                                <span class="type">Executive chef</span>
                                <p>
                                    The guitar chef.
                                </p>
                                <ul class="social-icons-chef">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="single-chef">
                        <a href="#"><img src="/images/temp-images/ctoan.png" alt="team" /></a>
                        <div class="chef-detail">
                            <div class="chef-detail-inner">
                                <h4>Truong Chi Toan</h4>
                                <span class="type">Executive chef</span>
                                <p>
                                    Chef in the palm of your hand.
                                </p>
                                <ul class="social-icons-chef">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>

<!--main content area-->
<section class='recipes-home-body inner-page'>
    <div class='container'>
        <div class='recipe-set' id="recipe-set-id">
            <h2>Our Locations</h2>
            <div class='contact-container'>
                <div class='row'>
                    <div class='col-md-6'>
                        <section class='contact-option-single'>
                            <h3>Our Restaurant</h3>
                            <p>
                                227 Nguyen Van Cu, District 5, Ho Chi Minh city
                                <br />Vietnam
                            </p>
                            <ul class='contact-options'>
                                <li class='phone'><span>Phone:
                                    </span>(+84) 97 128 86 96</li>
                                <li class='fax'><span>Fax:
                                    </span>(+84) 97 128 86 96</li>
                                <li class='email' id="cookbook"><span>Email:
                                    </span><a href='#recipe-set-id'>regs.cookbook@fit.us.edu.vn</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class='col-md-6'>
                        <section class='contact-option-single'>
                            <h3>Our Company</h3>
                            <p>
                                Vo Truong Toan, Linh Trung ward, Thu Duc city
                                <br />
                                Vietnam
                            </p>
                            <ul class='contact-options'>
                                <li class='phone'><span>Phone:
                                    </span>(+84) 287 3089 899</li>
                                <li class='fax'><span>Fax:
                                    </span>(+84) 287 3089 899</li>
                                <li class='email'><span>Email:
                                    </span><a href='https://en.hcmus.edu.vn'>internationalrelations@hcmus.edu.vn</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>

                <div class='separator-post'></div>

                {{!-- <div class='row'>
                    <div class='col-md-6'>
                        <div class='contact-option-single'>
                            <h3>Quick Contact</h3>
                            <fieldset>
                                <form action='http://templates.majesticthemes.com/recipepress/contact_form_handler.php'
                                    id='contact-form' method='post' novalidate='novalidate'>
                                    <input class='required' type='text' name='name' placeholder='Name'
                                        title='*Enter Your Name' />
                                    <input class='required' type='email' name='email' placeholder='Email Address'
                                        title='*enter valid email address' />
                                    <input type='number' class='number' name='number' placeholder='Phone Number' />
                                    <textarea class='required' name='message' id='message' cols='30' rows='10'
                                        placeholder='Message' title='*type your message'></textarea>
                                    <button type='submit'>submit message</button>
                                    <img src='images/loader2.gif' id='contact-loader' alt='Loading...' />

                                </form>
                            </fieldset>
                            <div class='error-container'></div>
                            <div id='message-sent'></div>
                        </div>
                    </div>
                    <div class='col-md-6'>

                        <!--google map-->
                        <div class='contact-option-single'>
                            <h3>Find Location on Map</h3>
                            <div class='map-wrapper'>
                                <div id='map_canvas'></div>

                            </div>
                            <script type='text/javascript' src='https://www.google.com/maps/embed/v1/search
  ?key=YOUR_API_KEY
  &q=record+stores+in+Seattle'></script>
                            <script type='text/javascript'>
                                function init_map() {
                                    var mapLatitude =
                                        39.0500155, mapLongitude = -77.1169103, mapZoom
                                            = 14; var myOptions = {
                                                zoom: mapZoom,
                                                scrollwheel: false, center: new
                                                    google.maps.LatLng(mapLatitude, mapLongitude),
                                                mapTypeId: google.maps.MapTypeId.ROADMAP,
                                                styles: [{
                                                    "featureType": "landscape",
                                                    "elementType": "labels", "stylers": [{
                                                        "visibility": "off"
                                                    }]
                                                }, {
                                                    "featureType":
                                                        "transit", "elementType": "labels", "stylers": [
                                                            { "visibility": "off" }]
                                                }, {
                                                    "featureType":
                                                        "poi", "elementType": "labels", "stylers": [{
                                                            "visibility": "off"
                                                        }]
                                                }, {
                                                    "featureType":
                                                        "water", "elementType": "labels", "stylers": [{
                                                            "visibility": "off"
                                                        }]
                                                }, {
                                                    "featureType":
                                                        "road", "elementType": "labels.icon", "stylers":
                                                        [{ "visibility": "off" }]
                                                }, {
                                                    "stylers": [{
                                                        "hue": "#00aaff"
                                                    }, { "saturation": -100 }, {
                                                        "gamma": 1.15
                                                    }, { "lightness": 12 }]
                                                }, {
                                                    "featureType": "road", "elementType":
                                                        "labels.text.fill", "stylers": [{
                                                            "visibility":
                                                                "on"
                                                        }, { "lightness": 24 }]
                                                }, {
                                                    "featureType": "road", "elementType":
                                                        "geometry", "stylers": [{ "lightness": 10 }]
                                                }
                                                ]
                                            }; map = new
                                                google.maps.Map(document.getElementById("map_canvas"),
                                                    myOptions); marker = new google.maps.Marker({
                                                        map: map, position: new
                                                            google.maps.LatLng(mapLatitude, mapLongitude)
                                                    });
                                } google.maps.event.addDomListener(window,
                                    "load", init_map);
                            </script>
                        </div>
                        <!--google map ends-->
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
</section>
<!--main content area-->