<!--banner-->
<div class="banner banner-blog">
    <div class="container ">
        <div class="main-heading">
            <h1>blog</h1>
        </div>

    </div>
</div>
<div class="advance-search">
    <!--advance search form-->

    <div class="container">
        <div class="wrapper-search">
            <div class="container-tags">
                <span class="tag">
                    <span class="tag-inner">Find Recipes <i class="fa fa-angle-down"></i></span>
                </span>

            </div>
            <div class="outer-advance-search">

                <form action="#" id="advance-search">
                    <fieldset>
                        <div class="inner-advance-search">

                            <div class="form-field">
                                <label for="ingredient">ingredient</label>
                                <select name="ingredient" id="ingredient" class="advance-selectable">
                                    <option value="ing1" selected="selected">Any Ingredient</option>
                                    <option value="ing2">Butter</option>
                                    <option value="ing3">Cheese</option>
                                    <option value="ing4">Cream</option>
                                    <option value="ing5">Yeast</option>
                                </select>
                            </div>

                            <div class="form-field">
                                <label for="course">course</label>
                                <select name="course" id="course" class="advance-selectable">
                                    <option value="ing1" selected="selected">Any Course</option>
                                    <option value="ing2">Butter</option>
                                    <option value="ing3">Cheese</option>
                                    <option value="ing4">Cream</option>
                                    <option value="ing5">Yeast</option>
                                </select>
                            </div>

                            <div class="form-field">
                                <label for="cuisine">cuisine</label>
                                <select name="cuisine" id="cuisine" class="advance-selectable">
                                    <option value="ing1" selected="selected">Any Cuisine</option>
                                    <option value="ing2">Butter</option>
                                    <option value="ing3">Cheese</option>
                                    <option value="ing4">Cream</option>
                                    <option value="ing5">Yeast</option>
                                </select>
                            </div>

                            <div class="form-field">
                                <label for="time">Cooking Time</label>
                                <select name="time" id="time" class="advance-selectable">
                                    <option value="ing1" selected="selected">Any Cooking Time</option>
                                    <option value="ing2">Butter</option>
                                    <option value="ing3">Cheese</option>
                                    <option value="ing4">Cream</option>
                                    <option value="ing5">Yeast</option>
                                </select>
                            </div>

                            <div class="form-field">
                                <label for="calories">calories</label>
                                <select name="calories" id="calories" class="advance-selectable">
                                    <option value="ing1" selected="selected">Any Calories</option>
                                    <option value="ing2">Butter</option>
                                    <option value="ing3">Cheese</option>
                                    <option value="ing4">Cream</option>
                                    <option value="ing5">Yeast</option>
                                </select>
                            </div>

                            <button type="submit"><i class="fa fa-search"></i></button>

                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>

    <!--advance search form ends-->
</div>
<!--banner ends-->

<!--main content area-->
<div class="wrapper-main-contents">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <!--single post-->
                <article class="post-single">
                    <div class="post-visuals">
                        <a href="#">
                            <img src="images/temp-images/post-image-1.jpg" alt="image" />
                        </a>
                    </div>
                    <div class="post-contents">
                        <div class="post-contents-inner">
                            <h2><a href="#">pasto pizza with fillas cheese toppings</a></h2>
                            <ul class="news-post-meta post-meta">
                                <li class="calendar">23/10/2015</li>

                                <li class="author"><a href="#">John Doe</a></li>

                                <li class="comments"><a href="#">12 Comments</a></li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu vulputate arcu. Fusce
                                consectetur varius nisi, in maximus eros egestas sed. Proin non purus erat. Proin sed
                                mauris id metus pulvinar pretium. Etiam tristique metus lorem, scelerisque pharetra dui
                                blandit sit amet
                            </p>
                            <a class="read-more-bordered" href="#">Read More</a>
                        </div>
                    </div>
                </article>
                <!--single post-->

                <!--single post-->
                <article class="post-single">
                    <div class="post-visuals">
                        <div class="wrapper-post-slider">
                            <div class="post-slider">
                                <div>
                                    <a href="#">
                                        <img src="images/temp-images/post-image-2.jpg" alt="image" />
                                    </a>
                                </div>
                                <div>
                                    <a href="#">
                                        <img src="images/temp-images/post-image-2.jpg" alt="image" />
                                    </a>
                                </div>
                            </div>
                            <span class="arrow-nav left-arrow"><i class="fa fa-angle-left"></i></span>
                            <span class="arrow-nav right-arrow"><i class="fa fa-angle-right"></i></span>
                        </div>
                    </div>
                    <div class="post-contents">
                        <div class="post-contents-inner">
                            <h2><a href="#">pasto pizza with fillas cheese toppings</a></h2>
                            <ul class="news-post-meta post-meta">
                                <li class="calendar">23/10/2015</li>

                                <li class="author"><a href="#">John Doe</a></li>

                                <li class="comments"><a href="#">12 Comments</a></li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu vulputate arcu. Fusce
                                consectetur varius nisi, in maximus eros egestas sed. Proin non purus erat. Proin sed
                                mauris id metus pulvinar pretium. Etiam tristique metus lorem, scelerisque pharetra dui
                                blandit sit amet
                            </p>
                            <a class="read-more-bordered" href="#">Read More</a>
                        </div>
                    </div>
                </article>
                <!--single post-->

                <!--single post-->
                <article class="post-single">
                    <div class="post-visuals">
                        <iframe src="https://player.vimeo.com/video/33987934"></iframe>
                    </div>
                    <div class="post-contents">
                        <div class="post-contents-inner">
                            <h2><a href="#">pasto pizza with fillas cheese toppings</a></h2>
                            <ul class="news-post-meta post-meta">
                                <li class="calendar">23/10/2015</li>

                                <li class="author"><a href="#">John Doe</a></li>

                                <li class="comments"><a href="#">12 Comments</a></li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu vulputate arcu. Fusce
                                consectetur varius nisi, in maximus eros egestas sed. Proin non purus erat. Proin sed
                                mauris id metus pulvinar pretium. Etiam tristique metus lorem, scelerisque pharetra dui
                                blandit sit amet
                            </p>
                            <a class="read-more-bordered" href="#">Read More</a>
                        </div>
                    </div>
                </article>
                <!--single post-->

                <!--single post-->
                <article class="post-single">

                    <div class="post-contents">
                        <div class="post-contents-inner">
                            <div class="audio-container">
                                <audio src="audio/very_romantic_piano.mp3" controls="controls"></audio>
                            </div>

                            <h2><a href="#">pasto pizza with fillas cheese toppings</a></h2>
                            <ul class="news-post-meta post-meta">
                                <li class="calendar">23/10/2015</li>

                                <li class="author"><a href="#">John Doe</a></li>

                                <li class="comments"><a href="#">12 Comments</a></li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu vulputate arcu. Fusce
                                consectetur varius nisi, in maximus eros egestas sed. Proin non purus erat. Proin sed
                                mauris id metus pulvinar pretium. Etiam tristique metus lorem, scelerisque pharetra dui
                                blandit sit amet
                            </p>
                            <a class="read-more-bordered" href="#">Read More</a>
                        </div>
                    </div>
                </article>
                <!--single post-->


                <!--single post-->
                <div class="post-single post-quotes">

                    <div class="post-contents">
                        <div class="post-contents-inner">
                            <div class="quote-mark">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p>
                                A man can live and be healthy without killing animals for food; therefore, if he eats
                                meat, he participates in taking animal life merely for the sake of his appetite.
                            </p>
                            <span class="quote-writer">-leotolsty</span>
                            <ul class="news-post-meta post-meta">
                                <li class="calendar">23/10/2015</li>

                                <li class="author"><a href="#">John Doe</a></li>

                                <li class="comments"><a href="#">12 Comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--single post-->
                <ul class="page-nav">
                    <li class="current"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-3">

                <!--sidebar-->
                <aside>
                    <div class="side-bar">
                        <!--search widget-->
                        <div class="widget search-bar-widget">
                            <h2>Search</h2>
                            <form action="#">
                                <div class="search-field">
                                    <input type="search" name="search" placeholder="Search" />
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <!--search widget ends-->

                        <!--widget category-->
                        <div class="widget category-widget">
                            <h2>Categories</h2>
                            <ul>
                                <li><a href="#">good dishes</a></li>
                                <li><a href="#">seasonal eats</a></li>
                                <li><a href="#">recipes</a></li>
                                <li><a href="#">potato</a></li>
                            </ul>
                        </div>
                        <!--widget category ends-->

                        <!-- widget archives-->
                        <div class="widget archives-widget">
                            <h2>Archives</h2>
                            <ul>
                                <li><a href="#">feb 2015</a> <span>(25)</span></li>
                                <li><a href="#">jan 2015</a> <span>(37)</span></li>
                                <li><a href="#">dec 2014</a> <span>(56)</span></li>
                                <li><a href="#">nov 2014</a> <span>(48)</span></li>
                            </ul>
                        </div>

                        <!--widget archives ends-->

                        <!--latest news widget-->
                        <div class="widget latest-news-widget">
                            <h2>Latest News</h2>
                            <ul>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="images/temp-images/widget-thumbnail.jpg" alt="thumbnail" />
                                        </a>
                                    </div>
                                    <div class="detail">
                                        <a href="#">Pimento Cheese Potato Skins</a>
                                        <span class="post-date">March 21,2015</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="images/temp-images/widget-thumbnail.jpg" alt="thumbnail" />
                                        </a>
                                    </div>
                                    <div class="detail">
                                        <a href="#">Pimento Cheese Potato Skins</a>
                                        <span class="post-date">March 21,2015</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="images/temp-images/widget-thumbnail.jpg" alt="thumbnail" />
                                        </a>
                                    </div>
                                    <div class="detail">
                                        <a href="#">Pimento Cheese Potato Skins</a>
                                        <span class="post-date">March 21,2015</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="images/temp-images/widget-thumbnail.jpg" alt="thumbnail" />
                                        </a>
                                    </div>
                                    <div class="detail">
                                        <a href="#">Pimento Cheese Potato Skins</a>
                                        <span class="post-date">March 21,2015</span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <!--latest news widget ends-->

                        <!--tags widget-->
                        <div class="widget tags-widget">
                            <h2>Tags</h2>
                            <ul>
                                <li><a href="#">loren</a>
                                <li>
                                <li><a href="#">food</a>
                                <li>
                                <li><a href="#">chicken</a>
                                <li>
                                <li><a href="#">dolor</a>
                                <li>
                                <li><a href="#">amet</a>
                                <li>
                                <li><a href="#">fusicon</a>
                                <li>
                                <li><a href="#">corn</a>
                                <li>
                                <li><a href="#">hot chicken</a>
                                <li>
                                <li><a href="#">lorem</a>
                                <li>
                            </ul>
                        </div>
                        <!--tags widget ends-->

                    </div>
                </aside>
                <!--sidebar ends-->

            </div>
        </div>

    </div>
</div>
<!--main content area ends-->