<!--banner-->
{{> banner titleBanner="Submit Recipe"}}
<!--advance search form-->
{{> advancedSearch}}
<!--advance search form ends-->
<!--banner ends-->

<div class='recipes-home-body inner-page'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-8 col-lg-9'>
                <div class='recipe-set submit-recipe-set'>
                    <h2>Submit Recipe</h2>
                    {{!-- <p>Food Recipe theme include a Recipe Submit Template. It
                        allow users to submit a recipe with featured image and
                        related details. A user should be logged in to submit a
                        recipe.
                    </p> --}}
                        {{!-- method='post'action='/submitRecipe' --}}
                    <div class='submit-recipe-form'>
                        <form id='submitRecipe'method='post'action='/submitRecipe'enctype="multipart/form-data">
                            <label for='title'>Recipe Title</label>
                            <input type='text' name='title' id='title' />
                            <br />
                            {{!-- <label for='short-description'>Short Description</label>
                            <textarea
                                class='short-text'
                                name='description'
                                id='short-description'
                                cols='30'
                                rows='10'
                            ></textarea>
                            <label for='recipe-content'>Recipe Contents</label>
                            <textarea
                                name='content'
                                id='recipe-content'
                                cols='30'
                                rows='10'
                            ></textarea> --}}
                            <label for='upload-image'>Upload Images</label>
                            
                            <div>File: <input type="file" name="fileUpload" multiple="multiple" /></div>
                            {{!-- <input
                                type='file'
                                name='fileUpload'
                                id='upload-image'
                               
                            /> --}}
                            <fieldset class='ingredient-set'>
                                <label for='ingredients'>Ingredients</label>
                                <ul class='list-sortable ingredients-list'>
                                    <li>
                                        <div class='add-fields'>
                                            <span class='handler-list'><i
                                                    class='fa fa-arrows'
                                                ></i></span>
                                            <input
                                                type='text'
                                                name='ingredients'
                                                id='ingredients'
                                            />
                                            <span class='del-list'><i
                                                    class='fa fa-trash'
                                                ></i></span>
                                        </div>
                                    </li>
                                </ul>
                                <span class='add-button add-ing'>
                                    <i class='fa fa-plus'></i>
                                </span>
                            </fieldset>

                            <fieldset class='ingredient-set'>
                                <label for='steps'>Steps</label>
                                <ul class='list-sortable steps'>
                                    <li>
                                        <div class='add-fields'>
                                            <span class='handler-list'><i
                                                    class='fa fa-arrows'
                                                ></i></span>
                                            <textarea
                                                class='short-text'
                                                name='steps'
                                                id='steps'
                                                cols='30'
                                                rows='10'
                                            ></textarea>
                                            <span class='del-list'><i
                                                    class='fa fa-trash'
                                                ></i></span>
                                        </div>
                                    </li>
                                </ul>
                                <span class='add-button add-steps'>
                                    <i class='fa fa-plus'></i>
                                </span>
                            </fieldset>

                            {{!-- <label class='video-based-recipe'>Video Based Recipe</label>
                            <br />
                            <label for='radio-yes'>
                                <input
                                    class='radio-btn'
                                    id='radio-yes'
                                    type='radio'
                                    name='video-recipe'
                                    value='yes'
                                    checked
                                /><span class='radio-text'>yes</span>
                            </label>
                            <label for='radio-no'>
                                <input
                                    class='radio-btn'
                                    id='radio-no'
                                    type='radio'
                                    name='video-recipe'
                                    value='no'
                                />
                                <span class='radio-text'>no</span>
                            </label>
                            <br />
                            <br />
                            <label for='video-embed'>Video Embed Code</label>
                            <textarea
                                class='short-text'
                                name='embed-code'
                                id='video-embed'
                                cols='30'
                                rows='10'
                            ></textarea> --}}

                            <div class='row'>
                                {{!-- <div class='col-sm-6'>
                                    <label for='yield'>Yield</label>
                                    <input
                                        type='text'
                                        name='yield'
                                        id='yield'
                                    />
                                </div> --}}
                                <div class='col-sm-6'>
                                    <label for='servings'>Servings</label>
                                    <input
                                        type='number'
                                        name='servings'
                                        id='servings'
										placeholder='E.g: 4'
                                    />
                                </div>
                                <div class='col-sm-6'>
                                    <label for='cook-time'>Cook Time</label>
                                    <input
                                        type='text'
                                        name='cookTime'
                                        id='cook-time'
										placeholder='E.g: 30 phút, 1 giờ, 20 giây'
                                    />
                                </div>
                            </div>

                            {{!-- <div class='row'>
                                <div class='col-sm-4'>
                                    <label for='prep-time'>Preparation Time</label>
                                    <input
                                        type='number'
                                        name='preTime'
                                        id='prep-time'
                                    />
                                </div>
                                <div class='col-sm-4'>
                                    <label for='ready-in'>Ready In</label>
                                    <input
                                        type='text'
                                        name='ready-in'
                                        id='ready-in'
                                    />
                                </div>
                            </div> --}}

                            <label for='tags'>Tags</label>
                            <input type='text' name='tags' id='tags' placeholder='E.g: chicken, eggs, pizza' />

                            <div class='row'>
                                <div class='col-sm-6'>
                                    <label for='recipe-type'>Meal Type</label>
                                    <select
                                        name='mealType'
                                        id='recipe-type'
                                        class='advance-selectable'
                                    >
                                        <option value='breakfast'>Breakfast</option>
                                        <option value='starter'>Starter</option>
                                        <option value='lunch'>Lunch</option>
                                        <option value='dinner'>Dinner</option>
                                        <option value='dessert'>Dessert</option>
                                    </select>
                                </div>
                                {{!-- <div class='col-sm-6'>
                                    <label for='cuisine-select'>Cuisine</label>
                                    <select
                                        name='cuisine'
                                        id='cuisine-select'
                                        class='advance-selectable'
                                    >
                                        <option
                                            value='c0'
                                            selected='selected'
                                        >None</option>
                                        <option value='c1'>type 1</option>
                                        <option value='c2'>type 2</option>
                                        <option value='c3'>type 3</option>
                                        <option value='c4'>type 4</option>
                                    </select>
                                </div> --}}
                                {{!-- <div class='col-sm-6'>
                                    <label for='course-select'>Course</label>
                                    <select
                                        name='course'
                                        id='course-select'
                                        class='advance-selectable'
                                    >
                                        <option
                                            value='cr0'
                                            selected='selected'
                                        >None</option>
                                        <option value='cr1'>type 1</option>
                                        <option value='cr2'>type 2</option>
                                        <option value='cr3'>type 3</option>
                                        <option value='cr4'>type 4</option>
                                    </select>
                                </div> --}}
                                <div class='col-sm-6'>
                                    <label for='skill'>Skill Level</label>
                                    <select
                                        name='skill'
                                        id='skill'
                                        class='advance-selectable'
                                    >
                                        <option value='Dễ'>Dễ</option>
                                        <option value='Trung bình'>Trung Bình</option>
                                        <option value='Khó'>Khó</option>
                                    </select>
                                </div>
                            </div>
							<fieldset class='ingredient-set'>
                                <label for='tips'>Tips</label>
                                <ul class='list-sortable steps'>
                                    <li>
                                        <div class='add-fields'>
                                            <span class='handler-list'><i
                                                    class='fa fa-arrows'
                                                ></i></span>
											{{!-- Don't leave spaces between
											textarea  --}}
                                            <textarea
                                                class='short-text'
                                                name='tips'
                                                id='tips'
                                                cols='30'
                                                rows='10'
                                            ></textarea>
                                            <span class='del-list'><i
                                                    class='fa fa-trash'
                                                ></i></span>
                                        </div>
                                    </li>
                                </ul>
                                <span class='add-button add-steps'>
                                    <i class='fa fa-plus'></i>
                                </span>
                            </fieldset>
                            <div class='text-center'>
                                <button
                                    type='submit'
                                    value='upload'
                                    class='recipe-submit-btn'
                                >Submit Your Recipe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class='col-md-4 col-lg-3'>
                <aside>
                    <div class='side-bar'>
                        <!--recipes search widget-->
                        {{> widgetCategory}}
                        <!--recipes search widget ends-->
                        <!--popular recipes widget-->
                        {{#if popularList}}
                            {{> widgetPopular typePopular="Popular Recipes" popularList=popularList }}
                        {{else}}
                            {{!-- Fall over content --}}
                            <div class='widget latest-news-widget'>
                                <h2>Popular Recipes</h2>
                                <ul>
                                    <li>
                                        <div class='thumb'>
                                            <a href='#'>
                                                <img
                                                    src='images/temp-images/widget-thumbnail.jpg'
                                                    alt='thumbnail'
                                                />
                                            </a>
                                        </div>
                                        <div class='detail'>
                                            <a href='#'>Pimento Cheese Potato Skins</a>
                                            <span class='post-date'>Dec 26, 2021</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        {{/if}}
                        <!--popular recipes widget ends-->

                        <!--advertisement widget-->
                        {{!-- <div class='widget'>
                            <a href='#'>
                                <img
                                    src='images/temp-images/add-side.jpg'
                                    alt='Add'
                                />
                            </a>
                        </div> --}}
                        <!--advertisement widget ends-->

                        <!--latest news widget-->
                        {{#if popularList}}
                            {{> widgetPopular typePopular="Latest News" popularList=popularList }}
                        {{else}}
                            {{!-- Fall over content --}}
                            <div class='widget latest-news-widget'>
                                <h2>Latest News</h2>
                                <ul>
                                    <li>
                                        <div class='thumb'>
                                            <a href='#'>
                                                <img
                                                    src='images/temp-images/widget-thumbnail.jpg'
                                                    alt='thumbnail'
                                                />
                                            </a>
                                        </div>
                                        <div class='detail'>
                                            <a href='#'>Pimento Cheese Potato Skins</a>
                                            <span class='post-date'>Dec 26, 2021</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        {{/if}}
                        <!--latest news widget ends-->
                        <!--get social-->
                        <div class='widget widget-get-social'>
                            <h2>get social</h2>
                            <ul>
                                <li class='facebook'>
                                    <a href='#'>
                                        <i class='fa fa-facebook'></i>
                                        <span class='count'>23.5K</span>
                                        <span class='count-type'>Likes</span>
                                    </a>
                                </li>
                                <li class='twitter'>
                                    <a href='#'>
                                        <i class='fa fa-twitter'></i>
                                        <span class='count'>23.5K</span>
                                        <span class='count-type'>Likes</span>
                                    </a>
                                </li>
                                <li class='google-plus'>
                                    <a href='#'>
                                        <i class='fa fa-google-plus'></i>
                                        <span class='count'>23.5K</span>
                                        <span class='count-type'>Likes</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!--get social ends-->
                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">

</script>
