<!--banner-->
{{> banner titleBanner="Recipe listing page"}}
<!--advance search form-->
{{> advancedSearch}}
<!--advance search form ends-->
<!--banner ends-->

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, your recipe upload successfull</p>
  <a href="/myRecipes">Click here to view your recipe</a>
</div>